@model IEnumerable<slnQF.SP_CONSULTA_PRODUCTOResult>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}


<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">

        <h1>

            <label id="lbl_titulo">Productos</label>
            <small>Version 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i><label id="lbl_breadcumb"> </label> </a></li>

        </ol>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <style>
            .loader {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url('../../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
            }
        </style>
        <script type="text/javascript">
            $(window).load(function () {
                $(".loader").fadeOut("slow");
            })
        </script>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="loader"></div>
        <div class="row" id="divRegresa">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title"><label id="lb_estadtitulo"></label></h3>
                    <div class="box-tools pull-right">
                        <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>-->

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="divNuevo">
                        <h4>

                            <a href="#" class="glyphicon glyphicon-plus" onclick="OpenCreatePopup()">NUEVO</a>

                        </h4>
                    </div>
                    <div class="col-md-12">
                        @{
                            WebGrid grid = new WebGrid(Model, canPage: false, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent2");
                        }
                        <div class="table-responsive">
                            <div id="gridContent2">

                                @grid.GetHtml(
                                   htmlAttributes: new { width = "100%" },

                                     mode: WebGridPagerModes.All,

                                     columns: new[] {
                                     grid.Column("", header: "", canSort:false,
                                         format: @<text>
                                        @Html.Raw("<a href='#'  onclick='Edit("+ item.ID_PRODUCTO +")'  class='glyphicon glyphicon-edit ' title='Editar'> </a>")
                                        
                                        @Html.Raw("<a href='#' id='lk_AsociaNomcom"+item.ID_PRODUCTO+"'  style='color: yellow' onclick='CreaNomComercial("+ item.ID_PRODUCTO +")' class='glyphicon glyphicon-link asocianomcom' title='Asociar Nombre Comercial'> </a>")
                                        @Html.Raw("<a href='#' id='lk_AsociaPresen"+item.ID_PRODUCTO+"'   style=color: blue'  onclick='CreaPresentacion("+ item.ID_PRODUCTO +")' class='glyphicon glyphicon-link asociapresentacion' title='Asociar Presentacion'> </a>")

                                        @Html.Raw("<a href='#' id='lk_AsociaNomcomPresen"+item.ID_PRODUCTO+"'  style='color: red'  onclick='CreaPresentacionNomCom("+ item.ID_PRODUCTO +")' class='glyphicon glyphicon-link asocianomcompres' title='Asociar Presentacion - Nom. Com.'> </a>")

                                        @Html.Raw("<a href='#' id='lk_AsociaArea"+item.ID_PRODUCTO+"'  style='color: wheat'  onclick='CreaAsociaarea("+ item.ID_PRODUCTO +")' class='glyphicon glyphicon-link asociaAreaProducto' title='Asociar Area'> </a>")


                                        

                                        </text>),
                                     grid.Column("ID_PRODUCTO", "Id", null, "text-center", false),
                                     grid.Column("NOMBRE", "Nombre", null, "text-left", false),
                                      grid.Column("DESCRIPCION", "Descripcion", null, "text-left", false),
                                     grid.Column("FORMA_FARMACEUTICA", "F. Farmaceutica", null, "text-left", false),
                                     grid.Column("CONCENTRACION", "Concentracion", null, "text-left", false),
                                     grid.Column("CANTIDAD_MUESTRAS", "Cantidad", null, "text-left", false),
                                     grid.Column("UOM", "UOM", null, "text-left", false),
                                     grid.Column("REFERENCIA", "Referencia", null, "text-left", false),
                                     grid.Column("CONDICION_ALMACENA", "Condicion Almacenamiento", null, "text-left", false),
                                     grid.Column("ESTADO", "Estado", null, "text-center", false),
                                     grid.Column("FECHA_CREACION", "Fecha", null, "text-left", false),
                                     grid.Column("USUARIO", "Usuario", null, "text-left", false)

                                 })
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalEdita" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

                        <div class="modal-dialog" role="document" style="overflow-y: scroll; max-height:80%;  margin-top: 50px; margin-bottom:80px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="box box-primary">
                                    <div class="modal-body ">
                                        
                                        <div id="DivToAppendPartialVoew"></div>
                                        <div id="DivToAppendPartialViewList"></div>
                                    </div>
                                <hr />
                                    
                                </div>


                                <div class="modal-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    initialize();

    function initialize() {
        var elementsnom = document.getElementsByClassName("asocianomcom");
        for (var i = 0; i < elementsnom.length; i++) {
            //$('#' + elements[i].id).attr('disabled', 'disabled');
            $('#' + elementsnom[i].id).hide()

        }

        var elementspre = document.getElementsByClassName("asociapresentacion");
        for (var i = 0; i < elementspre.length; i++) {
            //$('#' + elements[i].id).attr('disabled', 'disabled');
            $('#' + elementspre[i].id).hide()

        }

        var elementsnompres = document.getElementsByClassName("asocianomcompres");
        for (var i = 0; i < elementsnompres.length; i++) {
            //$('#' + elements[i].id).attr('disabled', 'disabled');
            $('#' + elementsnompres[i].id).hide()

        }
        
        var elementsAreas = document.getElementsByClassName("asociaAreaProducto");
        for (var i = 0; i < elementsAreas.length; i++) {
            //$('#' + elements[i].id).attr('disabled', 'disabled');
            $('#' + elementsAreas[i].id).hide()

        }

        $.ajax({
            url: '/Usuario/jsTraeAccesosUser/',
            type: "GET",
            dataType: "JSON",
            data: {},
            async: false,
            success: function (json) {
                var v_cuentaGuardar = 0;
                var v_cuentaVer = 0;
                var v_cuentaVerPres = 0;
                var v_cuentaVerNomcom = 0;
                var v_cuentaVerPresNom = 0;
                var v_cuentaVerAreaProducto = 0;
                $.each(json, function (j, item2) {
                    //menu operativo
                    if (item2.IDPERMISO == 19 && item2.IDACCESO == 1)
                        v_cuentaGuardar = v_cuentaGuardar + 1;

                    if (item2.IDPERMISO == 19 && item2.IDACCESO == 2)
                        v_cuentaVer = v_cuentaVer + 1;

                    if (item2.IDPERMISO == 23 && item2.IDACCESO == 2)
                        v_cuentaVerNomcom = v_cuentaVerNomcom + 1;

                    if (item2.IDPERMISO == 24 && item2.IDACCESO == 2)
                        v_cuentaVerPres = v_cuentaVerPres + 1;

                    if (item2.IDPERMISO == 36 && item2.IDACCESO == 2)
                        v_cuentaVerPresNom = v_cuentaVerPresNom + 1;


                    if (item2.IDPERMISO == 19 && item2.IDACCESO == 5)
                        v_cuentaVerAreaProducto = v_cuentaVerAreaProducto + 1;

                    
                });



                if (v_cuentaGuardar <= 0) {
                    document.getElementById("divNuevo").style.display = "none";
                }
                if (v_cuentaVer <= 0) {
                    document.getElementById("gridContent2").style.display = "none";
                }

                if (v_cuentaVerNomcom > 0) { 
                    var elementsnom2 = document.getElementsByClassName("asocianomcom");
                    for (var i = 0; i < elementsnom2.length; i++) {
                        //$('#' + elements[i].id).attr('disabled', 'disabled');
                        $('#' + elementsnom2[i].id).show()

                    }
                }

                if (v_cuentaVerPres > 0) { 
                    var elementspre2 = document.getElementsByClassName("asociapresentacion");
                    for (var i = 0; i < elementspre2.length; i++) {
                        //$('#' + elements[i].id).attr('disabled', 'disabled');
                        $('#' + elementspre2[i].id).show()

                    }
                }
                if (v_cuentaVerPresNom > 0) { 
                    var elementsnompres2 = document.getElementsByClassName("asocianomcompres");
                    for (var i = 0; i < elementsnompres2.length; i++) {
                        //$('#' + elements[i].id).attr('disabled', 'disabled');
                        $('#' + elementsnompres2[i].id).show()

                    }
                }
                if (v_cuentaVerAreaProducto > 0) {
                    var elementsArea = document.getElementsByClassName("asociaAreaProducto");
                    for (var i = 0; i < elementsArea.length; i++) {
                        //$('#' + elements[i].id).attr('disabled', 'disabled');
                        $('#' + elementsArea[i].id).show()

                    }
                }

            },
            error: function (error) { console.log(error); }
        });


    }
    $(function () {
        $('#gridContent2 table').DataTable({
            "pageLength": 10,
            //"searching": true,
            "paging": true,

            "searching": true,

            fixedColumns: true
        }); 
    });
    function Edit(pid) {
        $("#DivToAppendPartialVoew").empty();
        $("#DivToAppendPartialViewList").empty();
        $("#modalEdita").modal();
        
        
        var ph = $("#DivToAppendPartialVoew");
        ph.load("/Producto/Edit?Id=" + pid);
    }
    function CreaNomComercial(pid) {
        $("#DivToAppendPartialVoew").empty();
        $("#DivToAppendPartialViewList").empty();

        $("#modalEdita").modal();
        
        var ph = $("#DivToAppendPartialVoew");
        ph.load("/ProductoNombreCom/Create?Id=" + pid);

        var ph2 = $("#DivToAppendPartialViewList");
        ph2.load("/ProductoNombreCom/Listado?Id=" + pid);
        
    }

    function CreaPresentacion(pid) {
        $("#DivToAppendPartialVoew").empty();
        $("#DivToAppendPartialViewList").empty();

        $("#modalEdita").modal();

        var ph = $("#DivToAppendPartialVoew");
        ph.load("/ProductoPresentacion/Create?Id=" + pid);

        var ph2 = $("#DivToAppendPartialViewList");
        ph2.load("/ProductoPresentacion/Listado?Id=" + pid);

    }

    function CreaPresentacionNomCom(pid) {
        $("#DivToAppendPartialVoew").empty();
        $("#DivToAppendPartialViewList").empty();

        $("#modalEdita").modal();
       
        var ph = $("#DivToAppendPartialVoew");
        ph.load("/ProductoPresentNomCom/Create?Id=" + pid);
         
        var ph2 = $("#DivToAppendPartialViewList");
        ph2.load("/ProductoPresentNomCom/Listado?Id=" + pid);

    }
    function CreaAsociaarea(pid) {
        $("#DivToAppendPartialVoew").empty();
        $("#DivToAppendPartialViewList").empty();

        $("#modalEdita").modal();

        var ph = $("#DivToAppendPartialVoew");
        ph.load("/Area_Producto/CreateAreaProducto?id_Producto=" + pid);
        
        var ph2 = $("#DivToAppendPartialViewList");
        ph2.load("/Area_Producto/Listado?Id=" + pid);
        
    }
    
    
    function OpenCreatePopup() {
        $("#DivToAppendPartialVoew").empty();
        $("#DivToAppendPartialViewList").empty();
        $("#modalEdita").modal();
        var div = $("#DivToAppendPartialVoew");
        div.load("/Producto/Create" );
    }

</script>